<!doctype html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Eru's library</title>
  <link rel="stylesheet" href="b.css">
  <style>
    .SMN_effect-68 a:hover{
      animation: blur-a 3s ease-out infinite;
      text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
    }
    @keyframes blur-a {
      from {
        text-shadow:0px 0px 10px #fff,
          0px 0px 10px #fff,
          0px 0px 25px #fff,
          0px 0px 25px #fff,
          0px 0px 25px #fff,
          0px 0px 25px #fff,
          0px 0px 25px #fff,
          0px 0px 25px #fff,
          0px 0px 50px #fff,
          0px 0px 50px #fff,
          0px 0px 50px #7B96B8,
          0px 0px 150px #7B96B8,
          0px 10px 100px #7B96B8,
          0px 10px 100px #7B96B8,
          0px 10px 100px #7B96B8,
          0px 10px 100px #7B96B8,
          0px -10px 100px #7B96B8,
          0px -10px 100px #7B96B8;
      }
    }
  </style>
</head>
<body>
  <div class="back color-8">
    <div class="row columns">
      <h3>Effect 68</h3>
      <link rel="stylesheet" href="b.css">
      <ul class="menu align-center expanded text-center SMN_effect-68">
        <li><a href="" data-hover="Home">Home</a></li>
        <li><a href="" data-hover="About">About</a></li>
        <li><a href="" data-hover="Gallery">Gallery</a></li>
        <li><a href="" data-hover="Notes">Notes</a></li>
        <li><a href="" data-hover="Contact">Contact</a></li>
      </ul>
    </div>
  </div>
</body>