<div class="form-group row">
    <label class="col-form-label col-sm-1" for="name">제목</label>
    <div class="col-sm-8">
      <input autofocus class="form-control" name="name" value='<%= model.name %>' >
    </div>
</div>

<div class="form-group row">
    <label class="col-form-label col-sm-1" for="article" >글</label>
    <div class="col-sm-8">
      <textarea class="form-control" name="article" value="<%= model.article %>" style="height: 315px;"></textarea>
    </div>
</div>

<div class="form-group row">
    <label class="col-form-label col-sm-1" for="genre">장르</label>
    <div class="col-sm-8">
      <input class="form-control" name="genre" value="<%= model.genre %>">
    </div>
</div>
